@import url(./disenoInicio.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
    height: 100vh;
    margin: 0;
}

.main {
    width: 100vw;
    /* overflow: hidden; */
    background-color: black;
}

.catalogo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.navegacion {
    display: grid;
    flex-direction: column;
    gap: 40px;
}

.navegacion__cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.navegacion__portada {
    width: 115px;
    height: auto;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255);
    filter: drop-shadow(20px -10px 10px rgb(0, 0, 0));
    margin-bottom: -4px;
    position: relative;
    z-index: 1;
}

.navegacion__titulo {
    display: flex;
    align-items: center;
    background: var(--blanco);
    color: var(--azulOscuro);
    width: 200px;
    max-width: 200px;
    height: 55px;
    font-size: 14px;
    border-radius: 13px;
    /* padding: 10px; */
    text-align: center;
    position: relative;
    z-index: 2;
}

.navegacion__cuadro {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--azulOscuro);
    width: 35px;
    height: 55px;
    border: solid 1px var(--blanco);
    border-radius: 13px 0 0 13px;
}

.titulo__cont {
    width: 18px;
    height: 18px;
}

.portada__titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-transform: capitalize;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 5px;
}

.footer {
    background: var(--vinoTinto);
    color: var(--blanco);
    text-align: center;
    padding: 16px;
}

.footer__texto {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Estilos para tablet */
@media (min-width: 600px) {
    .catalogo {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        /* grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto); */
    }

    .navegacion__titulo {
        font-size: 16px;
    }
}

/* Estilos para desktop */
@media (min-width: 1024px) {
    .catalogo {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }
}
