


header{
    margin-bottom: 0px;
    width: 100%;
    height: 100px;
    background: #000000;
    position: fixed;
    z-index: 5;
}
#logo{
   margin: auto;
    width:55%;
    height: 90px;
    background: url(logo1.png)no-repeat right;
    float: left;
    margin-right: 50px;
}


 
#banner {
    margin: auto;
    width:76%;
    height: 100px;
    background-image: url(../imagenes/ban2.png) ;
    float: right;
    color:white;
}
 
#gif{
    margin: all;
    width:20%;
    height: 100px;
    background: url(../imagenes/computadora.gif)no-repeat right;
    float: right;
    margin-right: 50px;
}


