/* @import url(./footer.css);

html, .body{
    position: relative; 
    width: 100vw; 
    overflow: hidden;
    font-family: "Work Sans", sans-serif;
    height: 100vh;
}

.header{
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    width: 100%;
    height: auto;
    z-index: 5;
    justify-content: space-between;
    padding: 0px 24px 0px 24px;
}

.header__titulo{
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
}

.header__logo{
    width: 250px;
    height: auto;
    padding: 16px;
}

@media (max-width: 600px) {
    .header {
        flex-direction: row;
        height: auto; 
        text-align: left;
    }

    .header__titulo {
        font-size: 32px; 
        margin-bottom: 0; 
    }

    .header__logo {
        width: 200px;
        height: auto;
        padding: 16px 0px 16px 0px;
    }
}
 */


