@import url(./styles.css);
@import url(./footer.css);
@import url(./scroll.css);
@import url(./header.css);
@import url(./globalStyles.css);

.bodyCatalog{
    height: 100vh;
}

.contenedor{
    font-family: var(--font-family);
    display: grid;
    grid-template-areas: "plantaUno catalogo plantaDos";
    grid-template-columns: auto 70% auto;
    height: calc(100vh - var(--header-height - var(--footer-height)));
}


.contenedor__plantaUno{
    grid-area: plantaUno;
    background-image: url("../imagenes/plantaIzquierda.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.contenedor__catalogo{
    grid-area: catalogo;
    background-image: linear-gradient(
        310deg,
        hsl(17deg 30% 39%) 0%,
        hsl(18deg 28% 43%) 9%,
        hsl(18deg 27% 47%) 18%,
        hsl(19deg 27% 51%) 27%,
        hsl(20deg 31% 57%) 37%,
        hsl(24deg 35% 64%) 46%,
        hsl(27deg 41% 71%) 55%,
        hsl(31deg 50% 79%) 64%,
        hsl(32deg 54% 83%) 73%,
        hsl(32deg 53% 84%) 82%,
        hsl(33deg 51% 86%) 91%,
        hsl(33deg 49% 88%) 100%
    );
    /* background-image: url("../../imagenes/padding_Fondo.png");
    background-repeat: no-repeat; */
    background-size: cover;
    padding: 20px 5px 20px 20px;
    
}

.contenedor__plantaDos{
    grid-area: plantaDos;
    background-image: url("../imagenes/plantaDerecha.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}



.estanteria{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    background-image: linear-gradient(
    130deg,
    hsl(347deg 74% 18%) 0%,
    hsl(345deg 69% 20%) 10%,
    hsl(343deg 65% 22%) 20%,
    hsl(340deg 62% 24%) 31%,
    hsl(338deg 59% 26%) 41%,
    hsl(336deg 56% 28%) 51%,
    hsl(337deg 49% 31%) 61%,
    hsl(338deg 43% 33%) 71%,
    hsl(339deg 39% 36%) 81%,
    hsl(339deg 35% 38%) 90%,
    hsl(340deg 31% 41%) 100%
    );
}

.cont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cont__imagen{
    background-size: contain;
    width: 115px;
    height: 140px;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255);
    filter: drop-shadow(20px -10px 10px rgb(0, 0, 0));
    margin-bottom: -4px;
    position: relative;
    z-index: 1;
}

.cuaText{
    display: flex;
    text-decoration: none;
    text-transform: capitalize;
    width: 200px;
    height: 60px;
    font-size: var(--font-size);
    border-radius: 5%;
    position: relative;
    z-index: 2;
}




.cuaText__cuadro{
    background-color: var(--azulOscuro);
    padding: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 13px 0px 0px 13px;
}

.cuaText__cont{
    width: 25px;
    height: 25px; 
}

.cuaText__texto{
    padding: 4px 10px;
    width: 156px;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 500;
    color: var(--azulOscuro);
    background-color: var(--blanco);
    border-radius: 0px 13px 13px 0px;
    justify-content: center;
}

.espacio{
    height: 15px;
    background-image: linear-gradient(
        0deg,
        hsl(17deg 30% 39%) 0%,
        hsl(18deg 28% 43%) 9%,
        hsl(18deg 27% 47%) 18%,
        hsl(19deg 27% 51%) 27%,
        hsl(20deg 31% 57%) 36%,
        hsl(24deg 35% 64%) 45%,
        hsl(27deg 41% 71%) 54%,
        hsl(31deg 50% 79%) 64%,
        hsl(32deg 55% 82%) 73%,
        hsl(32deg 54% 83%) 82%,
        hsl(32deg 54% 84%) 91%,
        hsl(32deg 53% 85%) 100%
    );
    color: transparent;
    
}

.scroll{
    overflow-y: scroll;
}


